/* line 12, ../sass/calendar.scss */
.Slwy-calendar {
  top: 0;
  left: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #555;
  position: relative;
}
/* line 27, ../sass/calendar.scss */
.Slwy-calendar.Slwy-calendar-hidden {
  visibility: hidden;
}
/* line 30, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 7px solid #003b9f;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  position: absolute;
  top: -7px;
  left: 30px;
}
/* line 46, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action {
  /*.Slwy-calendar-prev-icon,.Slwy-calendar-next-icon{
      display: inline-block;
      border-top:10px solid  transparent;
      border-bottom:10px solid transparent;
      position: relative;
      &:after{
          content:'';
          display:inline-block;
          border-top:10px solid  transparent;
          border-bottom:10px solid transparent;
          position: absolute;
          top:-10px;
      }
  }
  .Slwy-calendar-prev-icon{
      border-right:10px solid #fff;
      &:after{
          border-right:10px solid $mainColor;
          left:4px;
      }
  }
  .Slwy-calendar-next-icon{
      border-left:10px solid #fff;
      &:after{
          border-left:10px solid $mainColor;
          right: 4px;
      }
  }*/
}
/* line 47, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-prev, .Slwy-calendar .Slwy-calendar-action .Slwy-calendar-next {
  position: absolute;
  height: 50px;
  width: 45px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
/* line 56, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-prev:hover, .Slwy-calendar .Slwy-calendar-action .Slwy-calendar-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 63, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-next {
  right: 0;
}
/* line 66, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-prev-icon, .Slwy-calendar .Slwy-calendar-action .Slwy-calendar-next-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
/* line 71, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-prev-icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAyUlEQVRIS7XWiw3CMAwE0LsJYBNgAmADVmUCGKHdBCYwOilIVWl+dsgA9+TGjkv8+TCSb2Z7AAcAM8nXVpYbMLMjgAcAIXeSt2HAKly5qkDgz+muYCP8DeBCcgoDveECmyvwhDcD3vAmIBJeBaLhRWBEeA14Ajin1iu2Yuk1yHaRmS0BPQPXXK97AU2mkF0KcCHFOUj3EEKqgxZFqoA+TwRpAiJIM+BFugAP0g1kkInkKbwPlgGrix+7Mr9QWvoaSFUwdum3/o18AF7rfhku5fQOAAAAAElFTkSuQmCC") no-repeat;
}
/* line 74, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-action .Slwy-calendar-next-icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAy0lEQVRIS7XV0Q3CMAwE0LsJYBM6QpmAVdkAmIB2k7JAjCz1gw9iO06a30r34ijpEQcv1vJF5AxgArCQ3LL7qAKllDvJG4APgJnkkkEs4E1SJ9CVRqwjmkTkQVKPKo1UAU0UkW7EBEYgLtCLhIAeJAxkkSYggzQDFeRFcv73ENMAgCeA0x46DtC38RsuIhvJa+1X0jRBa7hOFwYy4WEgGx4CesJdoDfcBEaEm0ApRavysj8s8ypaTedWpnfPvRr1Sl8nWA8pfW9n0e9fhw+zGUg0efoAAAAASUVORK5CYII=") no-repeat;
}
/* line 107, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-table {
  background-color: transparent;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  float: left;
}
/* line 114, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-table td, .Slwy-calendar .Slwy-calendar-table th {
  text-align: center;
  font-weight: 400;
}
/* line 118, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-table th {
  height: 48px;
}
/* line 121, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-table td {
  height: 45px;
  width: 45px;
  font-size: 14px;
}
/* line 130, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-header {
  background: #003b9f;
  font-size: 16px;
  color: #fff;
}
/* line 135, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-title {
  height: 40px;
  color: #0c80ba;
}
/* line 139, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day {
  cursor: pointer;
}
/* line 141, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day.Slwy-calendar-day-active {
  color: #fff !important;
  position: relative;
  z-index: 10;
}
/* line 145, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day.Slwy-calendar-day-active:after, .Slwy-calendar .Slwy-calendar-day.Slwy-calendar-day-active:before {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
}
/* line 158, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day.Slwy-calendar-day-active:after {
  border: 16px solid #eb5455;
  z-index: -1;
}
/* line 162, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day.Slwy-calendar-day-active:before {
  border: 21px solid #fce9e9;
  z-index: -2;
}
/* line 167, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-day.Slwy-calendar-disabled {
  color: #ccc !important;
  cursor: not-allowed;
}
/* line 172, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-months, .Slwy-calendar .Slwy-calendar-years {
  display: none;
}
/* line 175, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-old, .Slwy-calendar .Slwy-calendar-new {
  color: #6ac7f5 !important;
}
/* line 178, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-week {
  color: #eb5455;
}
/* line 181, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-select {
  height: 34px;
  line-height: 34px;
  text-align: center;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  cursor: pointer;
}
/* line 188, ../sass/calendar.scss */
.Slwy-calendar .Slwy-calendar-select:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
