/* line 11, ../sass/calendar.scss */
.slwy-calendar {
  top: 0;
  left: 0;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #555;
  position: relative;
}
/* line 26, ../sass/calendar.scss */
.slwy-calendar.slwy-calendar-hidden {
  visibility: hidden;
}
/* line 29, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 7px solid #003b9f;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  position: absolute;
  top: -7px;
  left: 30px;
}
/* line 45, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action {
  position: absolute;
  width: 100%;
  height: 50px;
}
/* line 49, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-prev, .slwy-calendar .slwy-calendar-action .slwy-calendar-next {
  position: absolute;
  height: 100%;
  width: 45px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
/* line 60, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-next {
  right: 0;
}
/* line 63, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-prev-icon, .slwy-calendar .slwy-calendar-action .slwy-calendar-next-icon {
  display: inline-block;
  border-top: 10px solid  transparent;
  border-bottom: 10px solid transparent;
  position: relative;
}
/* line 68, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-prev-icon:after, .slwy-calendar .slwy-calendar-action .slwy-calendar-next-icon:after {
  content: '';
  display: inline-block;
  border-top: 10px solid  transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: -10px;
}
/* line 77, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-prev-icon {
  border-right: 10px solid #fff;
}
/* line 79, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-prev-icon:after {
  border-right: 10px solid #003b9f;
  left: 4px;
}
/* line 84, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-next-icon {
  border-left: 10px solid #fff;
}
/* line 86, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-action .slwy-calendar-next-icon:after {
  border-left: 10px solid #003b9f;
  right: 4px;
}
/* line 92, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-table {
  background-color: transparent;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
  float: left;
}
/* line 99, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-table td, .slwy-calendar .slwy-calendar-table th {
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
/* line 104, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-table th {
  height: 48px;
}
/* line 107, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-table td {
  height: 45px;
  width: 45px;
  font-size: 14px;
}
/* line 113, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-header {
  background: #003b9f;
  font-size: 16px;
  color: #fff;
}
/* line 118, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-title {
  height: 40px;
  color: #0c80ba;
}
/* line 123, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-day.slwy-calendar-day-active {
  color: #fff !important;
  position: relative;
  z-index: 10;
}
/* line 127, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-day.slwy-calendar-day-active:after, .slwy-calendar .slwy-calendar-day.slwy-calendar-day-active:before {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
}
/* line 140, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-day.slwy-calendar-day-active:after {
  border: 16px solid #eb5455;
  z-index: -1;
}
/* line 144, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-day.slwy-calendar-day-active:before {
  border: 21px solid #fce9e9;
  z-index: -2;
}
/* line 149, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-day.slwy-calendar-disabled {
  color: #ccc !important;
  cursor: not-allowed;
}
/* line 154, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-months, .slwy-calendar .slwy-calendar-years {
  display: none;
}
/* line 157, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-old, .slwy-calendar .slwy-calendar-new {
  color: #6ac7f5 !important;
}
/* line 160, ../sass/calendar.scss */
.slwy-calendar .slwy-calendar-week {
  color: #eb5455;
}
