$prefix:'Slwy';
$mainColor:#003b9f;
$minorColor:#0c80ba;
$thirdColor:#eb5455;
$fouthColor:#fce9e9;
$hoverBg:rgba(255,255,255,0.2);
$headerHeight:50px;
$thHeight:48px;
$tdWidth:45px;
$tdHeight:45px;

.#{$prefix}-calendar{
    top: 0;
    left: 0;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    // width: 300px;
    // height: 382px;
    color: #555;
    position: relative;
    // visibility: hidden;
    // display: none;
    &.#{$prefix}-calendar-hidden{
        visibility: hidden
    }
    .#{$prefix}-calendar-caret{
        display: inline-block!important;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-bottom: 7px solid $mainColor;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 0 dotted;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        position: absolute;
        top: -7px;
        left: 30px;
    }
    .#{$prefix}-calendar-action{
        display: block!important;
        .#{$prefix}-calendar-prev,.#{$prefix}-calendar-next{
            position: absolute;
            height: $headerHeight;
            width:$tdWidth;
            text-align: center;
            line-height: $headerHeight + 10;
            cursor:pointer;
            -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out;
            &:hover{
                background-color: $hoverBg
            }
        }
        .#{$prefix}-calendar-prev{
            
        }
        .#{$prefix}-calendar-next{
            right:0;
        }
        .#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
            width:24px;
            height: 24px;
            display: inline-block;
        }
        .#{$prefix}-calendar-prev-icon{
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAyUlEQVRIS7XWiw3CMAwE0LsJYBNgAmADVmUCGKHdBCYwOilIVWl+dsgA9+TGjkv8+TCSb2Z7AAcAM8nXVpYbMLMjgAcAIXeSt2HAKly5qkDgz+muYCP8DeBCcgoDveECmyvwhDcD3vAmIBJeBaLhRWBEeA14Ajin1iu2Yuk1yHaRmS0BPQPXXK97AU2mkF0KcCHFOUj3EEKqgxZFqoA+TwRpAiJIM+BFugAP0g1kkInkKbwPlgGrix+7Mr9QWvoaSFUwdum3/o18AF7rfhku5fQOAAAAAElFTkSuQmCC") no-repeat;
        }
        .#{$prefix}-calendar-next-icon{
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAy0lEQVRIS7XV0Q3CMAwE0LsJYBM6QpmAVdkAmIB2k7JAjCz1gw9iO06a30r34ijpEQcv1vJF5AxgArCQ3LL7qAKllDvJG4APgJnkkkEs4E1SJ9CVRqwjmkTkQVKPKo1UAU0UkW7EBEYgLtCLhIAeJAxkkSYggzQDFeRFcv73ENMAgCeA0x46DtC38RsuIhvJa+1X0jRBa7hOFwYy4WEgGx4CesJdoDfcBEaEm0ApRavysj8s8ypaTedWpnfPvRr1Sl8nWA8pfW9n0e9fhw+zGUg0efoAAAAASUVORK5CYII=") no-repeat;
        }
        
        /*.#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
            display: inline-block;
            border-top:10px solid  transparent;
            border-bottom:10px solid transparent;
            position: relative;
            &:after{
                content:'';
                display:inline-block;
                border-top:10px solid  transparent;
                border-bottom:10px solid transparent;
                position: absolute;
                top:-10px;
            }
        }
        .#{$prefix}-calendar-prev-icon{
            border-right:10px solid #fff;
            &:after{
                border-right:10px solid $mainColor;
                left:4px;
            }
        }
        .#{$prefix}-calendar-next-icon{
            border-left:10px solid #fff;
            &:after{
                border-left:10px solid $mainColor;
                right: 4px;
            }
        }*/
    }
    .#{$prefix}-calendar-table{
        // width: 100%;
        background-color: transparent;
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0;
        float:left;  
        td,th{
            text-align: center;
            font-weight: 400;
        }
        th{
            height:$thHeight;
            width:$tdHeight;
        }
        td{
            height: $tdHeight;
            width: $tdWidth;
            font-size: 14px;
            &.#{$prefix}-calendar-day:hover{
                background-color:#eee
            }
            &.#{$prefix}-calendar-disabled:hover{
                background-color: #fff;
            }
            // &:empty{
            //     height: 0;
            // }
        }
    }
    .#{$prefix}-calendar-header{
        background: $mainColor;
        font-size: 16px;
        color: #fff;
    }
    .#{$prefix}-calendar-title{
        height: 40px;
        color: $minorColor;
    }
    .#{$prefix}-calendar-day{
        cursor: pointer;
        &.#{$prefix}-calendar-day-active{
            color:#fff!important;
            position: relative;
            z-index: 10;
            &:after,&:before{
                content:'';
                position: absolute;
                display: inline-block;
                border-radius: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin:auto;
                width:0;
                height: 0;
            }
            &:after{
                border:16px solid $thirdColor;
                z-index: -1;
            }
            &:before{
                border:21px solid $fouthColor;
                z-index: -2;
            }
        }
        &.#{$prefix}-calendar-disabled{
            color:#ccc!important;
            cursor: not-allowed;
        }
    }
    .#{$prefix}-calendar-months,.#{$prefix}-calendar-years{
        display: none;
        table{
            width:100%;

        }
    }
    .#{$prefix}-calendar-months{
        .#{$prefix}-calendar-month{
            display: block;
            width: $tdWidth * 2.422;
            height: 40px;
            line-height: 40px;
            float: left;
            cursor: pointer;
            &:hover{
                background-color:#eee
            }
        }
    }
    
    .#{$prefix}-calendar-old,.#{$prefix}-calendar-new{
        color:lighten($minorColor,30%)!important;
    }
    .#{$prefix}-calendar-week{
        color:$thirdColor
    }
    .#{$prefix}-calendar-select{
        height: 34px;
        line-height: 34px;
        text-align: center;
        -webkit-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
        cursor:pointer;
        &:hover{
            background-color:$hoverBg
        }
    }
    .#{$prefix}-calendar-lunar{
        font-size: 13px;
    }
    .#{$prefix}-calendar-active{
        background-color: #eee
    }
    
}
