$prefix:'slwy';
$mainColor:#003b9f;
$minorColor:#0c80ba;
$thirdColor:#eb5455;
$fouthColor:#fce9e9;
$headerHeight:50px;
$thHeight:48px;
$tdWidth:45px;
$tdHeight:45px;

.#{$prefix}-calendar{
    top: 0;
    left: 0;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    // width: 300px;
    // height: 382px;
    color: #555;
    position: relative;
    // visibility: hidden;
    // display: none;
    &.#{$prefix}-calendar-hidden{
        visibility: hidden
    }
    .#{$prefix}-calendar-caret{
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-bottom: 7px solid $mainColor;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 0 dotted;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        position: absolute;
        top: -7px;
        left: 30px;
    }
    .#{$prefix}-calendar-action{
        position: absolute;
        width:100%;
        height: $headerHeight;
        .#{$prefix}-calendar-prev,.#{$prefix}-calendar-next{
            position: absolute;
            height: 100%;
            width:$tdWidth;
            text-align: center;
            line-height: $headerHeight + 10;
            cursor:pointer;
        }
        .#{$prefix}-calendar-prev{
            
        }
        .#{$prefix}-calendar-next{
            right:0;
        }
        .#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
            display: inline-block;
            border-top:10px solid  transparent;
            border-bottom:10px solid transparent;
            position: relative;
            &:after{
                content:'';
                display:inline-block;
                border-top:10px solid  transparent;
                border-bottom:10px solid transparent;
                position: absolute;
                top:-10px;
            }
        }
        .#{$prefix}-calendar-prev-icon{
            border-right:10px solid #fff;
            &:after{
                border-right:10px solid $mainColor;
                left:4px;
            }
        }
        .#{$prefix}-calendar-next-icon{
            border-left:10px solid #fff;
            &:after{
                border-left:10px solid $mainColor;
                right: 4px;
            }
        }
    }
    .#{$prefix}-calendar-table{
        // width: 100%;
        background-color: transparent;
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0;
        float:left;  
        td,th{
            text-align: center;
            font-weight: 400;
            cursor: pointer;
        }
        th{
            height:$thHeight;
        }
        td{
            height: $tdHeight;
            width: $tdWidth;
            font-size: 14px;
        }
    }
    .#{$prefix}-calendar-header{
        background: $mainColor;
        font-size: 16px;
        color: #fff;
    }
    .#{$prefix}-calendar-title{
        height: 40px;
        color: $minorColor;
    }
    .#{$prefix}-calendar-day{
        &.#{$prefix}-calendar-day-active{
            color:#fff!important;
            position: relative;
            z-index: 10;
            &:after,&:before{
                content:'';
                position: absolute;
                display: inline-block;
                border-radius: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin:auto;
                width:0;
                height: 0;
            }
            &:after{
                border:16px solid $thirdColor;
                z-index: -1;
            }
            &:before{
                border:21px solid $fouthColor;
                z-index: -2;
            }
        }
        &.#{$prefix}-calendar-disabled{
            color:#ccc!important;
            cursor: not-allowed;
        }
    }
    .#{$prefix}-calendar-months,.#{$prefix}-calendar-years{
        display: none;
    }
    .#{$prefix}-calendar-old,.#{$prefix}-calendar-new{
        color:lighten($minorColor,30%)!important;
    }
    .#{$prefix}-calendar-week{
        color:$thirdColor
    }
    
}
