$prefix:'Slwy';
$theme-cute:$prefix+'-calendar-cute';
$theme-cute-noborder:$prefix+'-calendar-cute-noborder';
$size-sm:$prefix+'-calendar-sm';
$mainColor:#003b9f;
$minorColor:#0c80ba;
$thirdColor:#eb5455;
$fouthColor:#fce9e9;
$hoverBg:rgba(255,255,255,0.2);
$daysYearsWidth:329px;
$headerHeight:50px;
$thHeight:48px;
$tdWidth:47px;
$tdHeight:47px;
$tdWidth-sm:40px;
$tdHeight-sm:40px;
$headerHeight-sm:40px;
$daysYearsWidth-sm:280px;
$tableMargin:20px;


.#{$prefix}-calendar{
    top: 0;
    left: 0;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    // width: 300px;
    // height: 382px;
    color: #555;
    position: relative;
    z-index: 99999;
    // visibility: hidden;
    display: none;
    &.#{$prefix}-calendar-nocaret{
        margin-top:2px;
    }
    &.#{$prefix}-calendar-hidden{
        visibility: hidden
    }
    .#{$prefix}-calendar-caret{
        display: inline-block!important;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-bottom: 7px solid $mainColor;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-top: 0 dotted;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        position: absolute;
        top: -6px;
        left: 30px;
    }
    .#{$prefix}-calendar-action{
        display: block!important;
        .#{$prefix}-calendar-prev,.#{$prefix}-calendar-next{
            position: absolute;
            height: $headerHeight;
            width:$tdWidth;
            text-align: center;
            line-height: $headerHeight + 10;
            cursor:pointer;
            -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out;
            z-index: 999;
            &:hover{
                background-color: $hoverBg
            }
        }
        .#{$prefix}-calendar-prev{
            
        }
        .#{$prefix}-calendar-next{
            right:0;
        }
        .#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
            width:24px;
            height: 24px;
            display: inline-block;
        }
        .#{$prefix}-calendar-prev-icon{
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAyUlEQVRIS7XWiw3CMAwE0LsJYBNgAmADVmUCGKHdBCYwOilIVWl+dsgA9+TGjkv8+TCSb2Z7AAcAM8nXVpYbMLMjgAcAIXeSt2HAKly5qkDgz+muYCP8DeBCcgoDveECmyvwhDcD3vAmIBJeBaLhRWBEeA14Ajin1iu2Yuk1yHaRmS0BPQPXXK97AU2mkF0KcCHFOUj3EEKqgxZFqoA+TwRpAiJIM+BFugAP0g1kkInkKbwPlgGrix+7Mr9QWvoaSFUwdum3/o18AF7rfhku5fQOAAAAAElFTkSuQmCC") no-repeat;
        }
        .#{$prefix}-calendar-next-icon{
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAy0lEQVRIS7XV0Q3CMAwE0LsJYBM6QpmAVdkAmIB2k7JAjCz1gw9iO06a30r34ijpEQcv1vJF5AxgArCQ3LL7qAKllDvJG4APgJnkkkEs4E1SJ9CVRqwjmkTkQVKPKo1UAU0UkW7EBEYgLtCLhIAeJAxkkSYggzQDFeRFcv73ENMAgCeA0x46DtC38RsuIhvJa+1X0jRBa7hOFwYy4WEgGx4CesJdoDfcBEaEm0ApRavysj8s8ypaTedWpnfPvRr1Sl8nWA8pfW9n0e9fhw+zGUg0efoAAAAASUVORK5CYII=") no-repeat;
        }
        
        /*.#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
            display: inline-block;
            border-top:10px solid  transparent;
            border-bottom:10px solid transparent;
            position: relative;
            &:after{
                content:'';
                display:inline-block;
                border-top:10px solid  transparent;
                border-bottom:10px solid transparent;
                position: absolute;
                top:-10px;
            }
        }
        .#{$prefix}-calendar-prev-icon{
            border-right:10px solid #fff;
            &:after{
                border-right:10px solid $mainColor;
                left:4px;
            }
        }
        .#{$prefix}-calendar-next-icon{
            border-left:10px solid #fff;
            &:after{
                border-left:10px solid $mainColor;
                right: 4px;
            }
        }*/
    }
    .#{$prefix}-calendar-table-group{
        display: inline-block;
        position: relative;
        .#{$prefix}-calendar-table-group-bg{
            background-color: $mainColor;
            width:100%;
            height: 48px;
            position: absolute;
            z-index: -1;
        }
    }
    .#{$prefix}-calendar-table{
        // width: 100%;
        width:$tdWidth * 7;
        background-color: transparent;
        empty-cells: show;
        border-collapse: collapse;
        border-spacing: 0;
        display: inline-block;
        vertical-align: top;
        margin:0 $tableMargin/2;
        box-sizing: border-box;
        // float:left;  
        tbody{
            background: #fff;
        }
        td,th{
            text-align: center;
            font-weight: 400;
            box-sizing: border-box
        }
        th{
            height:$thHeight;
            width:$tdHeight;
        }
        td{
            height: $tdHeight;
            width: $tdWidth;
            font-size: 14px;
            &.#{$prefix}-calendar-day:hover{
                background-color:#eee
            }
            &.#{$prefix}-calendar-disabled:hover{
                background-color: #fff;
            }
            // &:empty{
            //     height: 0;
            // }
        }
    }
    .#{$prefix}-calendar-header{
        background: $mainColor;
        font-size: 16px;
        color: #fff;
    }
    .#{$prefix}-calendar-title{
        height: 40px;
        color: $minorColor;
    }
    .#{$prefix}-calendar-day{
        cursor: pointer;
        border:1px solid #eee;
        &.#{$prefix}-calendar-day-active{
            color:#fff!important;
            position: relative;
            z-index: 10;
            display: block;
            line-height: 45px;
            &:after,&:before{
                content:'';
                position: absolute;
                display: inline-block;
                border-radius: 100%;
                // top: 50%;
                top:0;
                // bottom: 0;
                left: 0;
                right: 0;
                margin:auto;
                width:0;
                height: 0;
            }
            &:after{
                border:16px solid $thirdColor;
                z-index: -1;
                // margin:-16px auto;
                top:8px;
            }
            &:before{
                border:21px solid $fouthColor;
                z-index: -2;
                top:3px;
                // margin:-21px auto;
            }
        }
        &.#{$prefix}-calendar-disabled{
            color:#ccc!important;
            cursor: not-allowed;
        }
    }
    .#{$prefix}-calendar-months,.#{$prefix}-calendar-years{
        display: none;
        width: $daysYearsWidth;
        table{
            display: table;
            width:$tdHeight * 7;
            margin:0;
        }
        .#{$prefix}-calendar-month,.#{$prefix}-calendar-year{
            display: block;
            width: $tdWidth * 2.31;
            height: 40px;
            line-height: 40px;
            float: left;
            cursor: pointer;
            &:hover{
                background-color:#eee
            }
        }
    }
    
    .#{$prefix}-calendar-old,.#{$prefix}-calendar-new{
        color:lighten($minorColor,30%)!important;
    }
    .#{$prefix}-calendar-week{
        color:$thirdColor
    }
    .#{$prefix}-calendar-select{
        height: 34px;
        line-height: 34px;
        text-align: center;
        -webkit-transition: background-color .3s ease-out;
        transition: background-color .3s ease-out;
        cursor:pointer;
        &:hover{
            background-color:$hoverBg
        }
    }
    .#{$prefix}-calendar-lunar{
        font-size: 13px;
    }
    .#{$prefix}-calendar-active{
        background-color: #eee;
        color:$mainColor!important;
    }
    
    &.#{$theme-cute},&.#{$theme-cute-noborder}{
        border-radius:3px;
        // padding-bottom: 0;
        .#{$prefix}-calendar-table-group-bg{
            height: 96px;
        }
        .#{$prefix}-calendar-table{
            &:first-of-type{
                .#{$prefix}-calendar-header{
                    th:first-of-type{
                        border-top-left-radius: 3px;
                    }
                }
            }
            &:last-of-type{
                .#{$prefix}-calendar-header{
                    th:last-of-type{
                        border-top-right-radius: 3px;
                    }
                }
            }
            .#{$prefix}-calendar-titles{
                background-color: $mainColor;
                th{
                    color:#fff;
                }
            }
            td{
                &.#{$prefix}-calendar-disabled{
                    background-color: #fafafa;
                }
                &.#{$prefix}-calendar-day-active{
                    color:$mainColor!important;
                    // font-weight: bold;
                    &:before{
                        content:none;
                    }
                    &:after{
                        height: 3.5px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left:0;
                        background-color: $mainColor;
                        border:0;
                        border-radius: 0;
                        margin:0;
                        top:inherit;
                        border:0!important;
                    }
                }
            }
        }
        &.#{$size-sm}{
            .#{$prefix}-calendar-table-group-bg{
                height: 80px;
            }
        }
    }

    &.#{$theme-cute-noborder}{
        .#{$prefix}-calendar-table{
            td{
                border:0;
                &.#{$prefix}-calendar-disabled{
                    background-color: #fff;
                }
            }
        }
    }

    &.#{$size-sm}{
        .#{$prefix}-calendar-action{
            .#{$prefix}-calendar-prev,.#{$prefix}-calendar-next{
                height: $headerHeight-sm;
                width:$tdWidth-sm;
                line-height: $headerHeight-sm + 10;
            }
            .#{$prefix}-calendar-prev-icon,.#{$prefix}-calendar-next-icon{
                width: 20px;
                height: 20px;
            }
            .#{$prefix}-calendar-prev-icon{
                background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAq0lEQVQ4T63UUQ1CMQyF4f84QAIoAAeAMxyBA8ABEsABKChZMhJys921hb33y9qdVfz5KOqZ2QI4AldJh2l9CKzYGdgAD0nLNDjBXsBO0i0FerGCD1uOYEMwis2CGawLZrE58AJsge5r9vLbfBQz+4BPYN+KRxQsv6GgayCEdmNT5xhGZ3OYQb3Bdt90CJbhR27qAiOoG2ygd0mr1Lb5Lqrtn0qsfl6wnu3+Bo81aBXpVs9jAAAAAElFTkSuQmCC') no-repeat;
            }
            .#{$prefix}-calendar-next-icon{
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABmSURBVDhP7c/BDYAgDEDRjuAojMhmsoFuoBvoBK0fQ7xLGy/yk6ZJDy8gn2RmmSnM1E6+VHUDM/YagoIksGOgf0eptHN/IIk5b84LAjwYr1xY/V8e2PtCsRrIHobVQDLYHIL5ErkAbKQmkuIeiwkAAAAASUVORK5CYII=') no-repeat;
            }
        }
        .#{$prefix}-calendar-table-group-bg{
            height: 40px;
        }
        .#{$prefix}-calendar-table{
            width:$tdWidth-sm * 7;
            .#{$prefix}-calendar-titles{
                th{
                    font-size:14px;
                }
            }
            .#{$prefix}-calendar-select{
                font-size:14px;
            }
            td,th{
                height: $tdHeight-sm;
                width: $tdWidth-sm;
                font-size:13px;
            }
            td{
                .#{$prefix}-calendar-festival,.#{$prefix}-calendar-today{
                    font-size: 12px;
                }
                &.#{$prefix}-calendar-day-active{
                    &:after{
                        border:14px solid $thirdColor;
                    }
                    &:before{
                        border:19px solid $fouthColor;
                    }
                }
            }
        }
        .#{$prefix}-calendar-months,.#{$prefix}-calendar-years{
            width: $daysYearsWidth-sm;
            .#{$prefix}-calendar-month,.#{$prefix}-calendar-year{
                width: $tdWidth-sm * 2.31;
            }
        }
    }
}
